.container {
    background-color: turquoise;   
     width: 600px;
    margin-left: auto ;
    margin-right: auto;
    margin: 0 auto;
}
h1 {
    font-size: 70px;
    color: yellow;
}
body {
    background-color: turquoise;
    font-size:x-large;
    color:black;
}
a {
    color:black;
}
button {
    color: black;
    border-color: chartreuse;
    background-color: chartreuse;
}


