h1 {
    font-size: 70px;
    color:aquamarine;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body {
    background-color: lightpink;
    font-size:x-large;
    color:black;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
    width: 600px;
    font-family: 'Times New Roman', Times, serif;
}
a {
    color:black;
}
button {
    color: black;
    border-color: chartreuse;
    background-color: chartreuse;
}